<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XXX管理系统</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   <div class="container">
     <!-- 引入头部公共文件 -->
    <%- include('./common/head.ejs') %>
     <div class="lj-main">
        <%- include('./common/menu.ejs') %>
        <div class="lj-boyd">
          <h1>欢迎光临</h1>
          <img src="/images/pic.jpg" >
        </div>
     </div>
     <%- include('./common/foot.ejs') %>
    </div>
</body>
</html>
